@media (min-width: 768px) {
    .logo {
        font-size: 28px;
    }

    .menu-burger {
        display: none;
    }

    .menu {
        position: unset;
        padding: 0;
        width: unset;
        height: unset;

        &__list--active {
            display: flex;
        }

        &__item {
            &:first-child {
                padding-top: 0;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 24px;
            }
        }

        &__link {
            font-size: 16px;
        }
    }

    .menu-buttons {
        display: flex;

        &__item {
            &:first-child {
                padding-top: 0;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 11px;
            }
        }
    }

    .form {
        width: 480px;
    }

    .hero {
        padding-top: 40px;

        &__container {
            flex-direction: row;
        }
    }

    .about {
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__items {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    .reviews {
        padding-bottom: 60px;
        background-size: 95px;
    }

    .email {
        &__inner {
            padding: 50px 20px 0 30px;
        }

        &__items {
            flex-direction: row;
            justify-content: center;
        }

        &__form {
            margin-left: 30px;
        }
    }

    .email-form {
        &__title {
            margin-bottom: 32px;
        }

        &__input {
            max-width: 210px;
        }
    }

    .footer {
        &__items {
            flex-direction: row;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 50px;
                margin-bottom: 0px;
            }
        }

        &__title {
            margin-bottom: 32px;
        }
    }
}

@media (min-width: 1024px) {
    .menu {
        &__item {
            &:not(:last-child) {
                margin-right: 54px;
            }
        }

        &__link {
            font-size: 20px;
            line-height: 130%;
        }
    }

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 24px;
    }

    .hero {
        // background: linear-gradient(rgba(242, 247, 255, 0.8), rgba(242, 247, 255, 0.9)), url(../images/hero_bg-desktop.svg);
        // background-repeat: no-repeat;
        // background-size: contain;

        &__title {
            max-width: 426px;
        }

        &_desc {
            max-width: 517px;
        }
    }

    .about {
        &__items {
            margin-right: 76px;
        }

        &__item {
            max-width: 428px;
        }
    }

    .plans__items,
    .setup__items {
        flex-direction: row;
    }

    .price {
        &:not(:last-child) {
            margin-bottom: 0px;
        }
    }

    .setup__items {
        justify-content: space-evenly;
    }

    .setup__text {
        margin-bottom: 30px;
    }

    .reviews {
        padding-bottom: 80px;
        background-size: 120px;

        &__items {
            flex-direction: row;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 50px;
                margin-bottom: 0;
            }
        }
    }

    .email-form__input {
        max-width: 220px;
    }

    .footer {
        &__item {
            &:not(:last-child) {
                margin-right: 126px;
            }
        }

        &__list-item {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
}

// @media (min-width: 1366px) {
//     .about {
//         &__title {
//             margin-bottom: 68px;
//         }
//     }

// }

@media (hover: hover) and (pointer: fine) {
    .login-btn {
        transition: color .3s ease, background-color .3s ease-in-out;

        &:hover {
            color: $footer-gray;
            background-color: $hover-purple;
        }
    }

    .register-btn,
    .connect-btn {
        transition: background-color .3s ease-in-out;
    }

    .register-btn {
        border: 1px solid transparent;

        &:hover {
            color: $accent-color;
            background-color: $footer-gray;
            border: 1px solid $accent-color;
        }
    }

    .form__btn-close {
        cursor: pointer;
    }

    .menu__link,
    .footer__list-link,
    .copyright__link {
        transition: color .3s ease-in-out;
    }

    .menu__link:hover {
        color: $hover-purple;
    }

    .connect-btn:hover {
        background-color: $hover-blue;
    }

    .plans__item,
    .setup__item {
        transform: translateZ(0);
        transition: transform 0.25s ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    .footer__list-link:hover {
        color: $hover-blue;
    }

    .copyright__link:hover {
        color: $red-color;
    }
}