// Main colors
$primary-color: #1d2530;
$accent-color: #685ed6;
$secondary-color: #f1e4ff;
$white: #fff;

// Secondary colors
$burger-bg: #f8fbff;
$sticky-header: rgba(248, 251, 255, .8);
$footer-gray: #f4f5f7;
$red-color: #f93232;
$green-color: #28a745;
$error-bg: #fffafa;
$error-text: #aaaaaa;
$copyright-color: #d9dbe1;
$alice-blue: #fcfeff;
$hover-blue: #33afe1;
$hover-purple: #c39bfb;
$active-blue: #18e1f7;
$active-purple: #685ed6;
$copyright-bg: #141b23;
$plan-bg: rgba(104, 94, 214, 0.05);
$input-color: #f7f7fd;
$shadow-color: rgba(0, 0, 0, 0.6);